<div class="container-fluid bg-color">
  <div class="row pd-10">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
          <div class="row  st-card" style="background-color: #ceebee;">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
              <img src="../../assets/inpatient-summary/Doctors.png" class="rounded-circle" style="background-color: #0caec0;">
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text">
              <div><span>{{cf(Doctors)}}</span></div>
              <div><p>Doctors</p></div>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
          <div class="row st-card" style="background-color: #fae9dd;">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
              <img src="../../assets/inpatient-summary/Nurses.png" class="rounded-circle" style="background-color: #feb278;">
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text">
              <div><span>{{cf(Nurses)}}</span></div>
              <div><p>Nurses</p></div>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="row st-card" style="background-color: #fcecec;">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
              <img src="../../assets/inpatient-summary/Patients.png" class="rounded-circle"  style="background-color: #ef605e;">
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text">
              <div><span>{{cf(Patients)}}</span></div>
              <div><p>Patients</p></div>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="row st-card" style="background-color: #e5faff;">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
              <img src="../../assets/inpatient-summary/Pharmacist.png" class="rounded-circle" style="background-color: #52dffc;">
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text">
              <div><span>{{cf(Pharmacists)}}</span></div>
              <div><p>Pharmacists</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding0">
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="row st-card" style="background-color: #ceebee;">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <img src="../../assets/inpatient-summary/total appointment.png" class="rounded-circle" style="background-color: #0caec0;">
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 st-text">
            <div><span>{{cf(Appointments)}}</span></div>
            <div><p>Total Appointments</p></div>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="row st-card" style="background-color: #fae9dd;">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <img src="../../assets/inpatient-summary/completed appointment.png" class="rounded-circle" style="background-color: #feb278;">
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 st-text">
            <div><span>{{cf(Completed)}}</span></div>
            <div><p>Completed Appointments</p></div>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="row st-card" style="background-color: #fcecec;">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <img src="../../assets/inpatient-summary/cancelled appointment.png"class="rounded-circle" style="background-color: #ef605e;">
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 st-text">
            <div><span>{{cf(Cancelled)}}</span></div>
            <div><p>Cancelled Appointments</p></div>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="row st-card" style="background-color: #e5faff;">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <img src="../../assets/inpatient-summary/followup.png" class="rounded-circle" style="background-color: #52dffc;">
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 st-text">
            <div><span>{{cf(Followup)}}</span></div>
            <div><p>Followup Appointments</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-table">
      <div class="row bg-tab1">
        <h3>Hospital Survey</h3>
      </div>
      <div class="row color">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="card">
            <div class="card-head">
              <span>{{df(Doctors)}}</span>
            </div>
            <div class="card-body">
              <p>Today's Income</p>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="card">
            <div class="card-head">
              <span>{{df(Nurses)}}</span>
            </div>
            <div class="card-body">
              <p>This Week's Income</p>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="card">
            <div class="card-head">
              <span>{{df(Pharmacists)}}</span>
            </div>
            <div class="card-body">
              <p>This Month's Income</p>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="card">
            <div class="card-head">
              <span>{{df(Appointments)}}</span>
            </div>
            <div class="card-body">
              <p>This Year's Income</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-tab2">
        <div [chart]="EpChart" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 bg-table pd-r">
      <div class="row bg-tab1">
        <h3><b>Operations</b></h3>
      </div>
      <div class="row bg-tab2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding0 table-scroll-style">
          <table class="table table-bordered">
            <thead class="background">
              <tr>
                <th>Patient</th>
                <th  (click)="sort('ProviderName')">Hospital  Name<i
                  class="fa sort-icon"
                  [ngClass]="{'fa-sort': column != 'ProviderName', 
                                          'fa-sort-asc': (column == 'ProviderName' && !isDesc), 
                                          'fa-sort-desc': (column == 'ProviderName' && isDesc) }"
                  aria-hidden="true"> </i></th>
                <th>Doctors Team</th>
                <th>Date Of Operation</th>
                <th>Report</th>
                <th>Diseases</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of helthCaretableData | orderBy: {property: column, direction: direction}; let i=index; let odd=odd"
              [ngClass]="{ odd: odd}">
                <td></td>
                <td>{{obj.ProviderName}}</td>
                <td>{{obj.t_discharges}}</td>
                <td>{{df(obj.t_payments)}}</td>
                <td>{{df(obj.t_coveredcharges)}}</td>
                <td>{{df(obj.t_medicarepayments)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-table">
      <div class="row bg-tab1">
        <h3><b>Recent Activity</b></h3>
        <a>View All</a>
      </div>
      <div class="row bg-tab2">
        <div class="row mt-1">
          <div class="timeline">
            <div class="container right">
              <div class="content">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;<span> 5 mins ago</span>
                <p>The Joint Commission mandates that discharge summaries contain certain components: reason for hospitalization, significant findings, procedures and treatment provided,
                   patient's discharge condition, patient and family instructions, and attending physician's signature</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;<span> 7 mins ago</span>
                <p>The discharge summary (DS) is a document that contains the diagnosis, comorbidities, procedures, complications, 
                  and future treatment plan for a particular patient after an inpatient hospital stay</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;<span> 10 mins ago</span>
                <p>The DS is completed by junior medical staff and is delivered to the general practitioner (GP). DS completion is time consuming and tedious</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>