.card{
  background-color: #20283d;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  height: 127px;
  overflow-y: auto;
  padding: 0px 5px;
}
.card_text{
  background-color: #20283d;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  height: 93px;
  padding: 20px 0px;
}
.height{
  height: 370px;
}
.head_text{
  background-color: #20283d;
  color: white;
  padding: 6px;
  margin-top: 10px;
}
.pd_right{
  padding-right: 0px;
}